/* https://colorhunt.co/palette/2121216d9886d9cab3f6f6f6 */
body {
  background: #D9CAB3;
  color: #212121;
}

#errorDialog {
  display: none;
}

.loading {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 4rem;
  padding: 10px;
  background: #212121;
  color: #F6F6F6;
  border-radius: 10px;
}

#loadingSingle {
  left: 2%;
  top: 2%;
}

.line {
  width: 90%;
  height: 1px;
  background: #F6F6F6;
}

#mainDiv {
  display:flex;
  justify-content: end;
  margin: none;
}

#featuredCarousel {
  width: 75vw;
  height: 50vh;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.carousel-cell a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flickity-page-dots {
  bottom: -22px;
}

.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
}

.flickity-button-icon {
  fill: #212121;
}

#initializeBtn {
  padding: 5px 10px 5px 10px;
  border: 2px solid #212121;
  margin-top: 50px;
  border-radius: 20px;
  transition: all 0.25s linear;
  box-shadow: 0px 0px 10px #212121;
}

#initializeBtn:hover {
  border-color: #6D9886;
  color: #6D9886;
  transform: scale(1.1);
}

#mainDiv {
  display: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#searchResults {
  width: 75vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  display: none;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 25vw;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background: #212121;
  color: white;
  box-shadow: 0px 0px 25px #212121;
  width: 25vw;
}

#searchWrapper {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#globalSearches, #localSearches {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
  width: 100%;
}

.inputs {
  width: 90%;
  height: 15%;
  margin: 5px;
  border: 1px solid #212121;
  border-radius: 4px;
  color: #212121;
  background: #F6F6F6;
}

.searchBtns {
  padding: 10px;
  background: #6D9886;
  border-radius: 10px;
  border: 1px solid #212121;
  transition: all 0.2s linear;
}

.searchBtns:hover {
  background: #212121;
  color: #6D9886;
  border-color: #6D9886;
}

.localButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*Main list item styling*/
.listItem {
  width: 60vw;
  height: auto;
  background: #6D9886;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

/*Disable pointer/click/mouseover events for elements inside a tag in list*/
.listIgnore {
  pointer-events: none;
}

#historyWrapper {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.historyBtn {
  padding: 5px;
  margin-top: 2px;
  background: #6D9886;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  transition: all 0.2s linear;
}

#backBtn {
  background:#F6F6F6;
  border-radius: 4px;
  color: #212121;
  transition: all 0.2s linear;
}

#backBtn:hover {
  color: #F6F6F6;
  background: #212121;
}

.singleLinks {
  padding: 15px;
  border-radius: 10px;
  background: #6D9886;
  color: #F6F6F6;
  font-size: 1.5rem;
  transition: all 0.2s linear;
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 999;
}

#allWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#singleContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleImg {
  width: 50%;
  border-radius: 5px;
}

#textDiv {
  padding: 10px;
  border-radius: 5px;
  background: #F6F6F6;
  font-size: 1.2rem;
}

#fundingSection {
  background: #6D9886;
  color: #212121;
  padding: 15px;
  font-size: 1.5rem;
}

.listItem:hover, .historyBtn:hover, .singleLinks:hover {
  background: #57bd91;
  transform: scale(1.05);
}

#map {
  height: 45vh;
  width: 60vw;
}

@media screen and (max-width: 950px){
  #sidebar {
    display: none;
    width: 100vw;
    height: 20vh;
    top: 0;
  }
  #searchWrapper {
    flex-direction: row;
    height: 100%;
  }
  #headerName, .line2, #historyWrapper  {
    display: none;
  }
  .line {
    width: 1px;
    height: 100%;
  }
  .inputs {
    height: 25%;
  }
  #globalSearches, #localSearches {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
  #searchResults {
    width: 100vw;
  }
  .spaceFiller {
    width: 100vw;
    height: 20vh;
  }
}