/* https://colorhunt.co/palette/2121216d9886d9cab3f6f6f6 */
body {
  background: #D9CAB3;
  color: #212121;
}

#errorDialog {
  display: none;
}

.loading {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 4rem;
  padding: 10px;
  background: #212121;
  color: #F6F6F6;
  border-radius: 10px;
}

#loadingSingle {
  left: 2%;
  top: 2%;
}

.line {
  width: 90%;
  height: 1px;
  background: #F6F6F6;
}

#mainDiv {
  display:flex;
  justify-content: end;
  margin: none;
}

#featuredCarousel {
  width: 75vw;
}

.carousel-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
  margin: 10px;
}

#initializeBtn {
  padding: 5px 10px 5px 10px;
  border: 2px solid #212121;
  margin-top: 50px;
  border-radius: 20px;
  transition: all 0.25s linear;
}

#initializeBtn:hover {
  border-color: #F6F6F6;;
  color: #F6F6F6;;
  transform: scale(1.1);
}

#mainDiv {
  display: none;
}

#sidebar {
  background: #212121;
  color: white;
}

#searchWrapper {
  height: 60%;
}

.inputs {
  width: 90%;
  height: 10%;
  margin: 5px;
  border: 1px solid #212121;
  border-radius: 4px;
  color: #212121;
  background: #F6F6F6;
}

.searchBtns {
  padding: 10px;
  background: #6D9886;
  border-radius: 10px;
  border: 1px solid #212121;
  transition: all 0.2s linear;
}

.searchBtns:hover {
  background: #212121;
  color: #6D9886;
  border-color: #6D9886;
}

#historyWrapper {
  height: 40%;
  padding: 5px;
}

.listItem {
  width: 60vw;
  height: 75px;
  background: #6D9886;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.listItem:hover {
  background: #31966c;
}

.singleLinks {
  padding: 5px;
  background: #6D9886;
  color: #F6F6F6;
  font-size: 1.5rem;
}

.singleLinks:hover {
  background: #31966c;
}

#map {
  height: 300px;
  width: 500px;
}